@font-face {
  font-family: 'NexaSlab';
  src: local('NexaSlab'), url(./assets/fonts/NexaSlab.otf) format('opentype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: 'Linotype Cutter';
  src: url('./assets/fonts/cutter/806846dbf3aabc5ddf36dfab4b13270b.eot'); /* IE9*/
  src: url('./assets/fonts/cutter/806846dbf3aabc5ddf36dfab4b13270b.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('./assets/fonts/cutter/806846dbf3aabc5ddf36dfab4b13270b.woff2')
      format('woff2'),
    /* chrome、firefox */
      url('./assets/fonts/cutter/806846dbf3aabc5ddf36dfab4b13270b.woff')
      format('woff'),
    /* chrome、firefox */
      url('./assets/fonts/cutter/806846dbf3aabc5ddf36dfab4b13270b.ttf')
      format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url('./assets/fonts/cutter/806846dbf3aabc5ddf36dfab4b13270b.svg#Linotype Cutter')
      format('svg'); /* iOS 4.1- */
}

@font-face {
  font-family: 'Courier Prime';
  src: local('Courier Prime'),
    url(./assets/fonts/Courier\ Prime.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

html, body { height: 100% }

.app-body {
  background-image: url(./assets/images/background.png);
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-size: cover;
  /* background-repeat: no-repeat; */
  /* height: 100vh; */
}

@media screen and (max-width: 800px) {
  .app-body {
    background-image: url(./assets/images/bg-high.png);
    background-size: cover;

  }
}

@media screen and (max-width: 1600px) {
  .bgImage {
    background-image: url(./assets/images/background.png);
    background-size: cover;
  }
}

.container {
  padding: 50px;
}

.pesky-logo {
  height: 80px;
  justify-content: center;
  align-items: center;
  /* padding-top: 20px; */
  /* padding-right: 20px; */
  text-align: center;
  /* position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%); */
}

.social-icons {
  height: 32px;
  width: 32px;
}

.pesky-drawer {
  height: 80px;
  display: block;
  margin: 0 auto;
}

.nav-heading {
  font-family: 'Linotype Cutter';
  font-size: 40px;
  padding-left: 10px;
}

.drawer-heading {
  font-family: 'Linotype Cutter';
  font-size: 35px;
}

h3 {
  font-family: 'Courier Prime';
  text-align: center;
}

.sent-message {
  font-family: "Courier Prime";
  text-align: center;
  color:#fcfbf6
}

.confirmation-message {
  font-family: "Courier Prime";
  text-align: center;
}

.intro-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /* z-index: -1; */
}

.player-div {
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}

.spotify-player {
  height: 450px;
  width: 400px;
  /* padding-top: 100px; */
  /* height: 500px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center; */
}

.header {
  font-family: 'Linotype Cutter';
  color: #5c9ea0;
  font-size: 6vmin;
  text-align: center;
  padding-bottom: 20px;
}

.record-name {
  font-family: 'Linotype Cutter';
  color: #fcfbf6;
  font-size: 20px;
}

.music-cover {
  padding-top: 50px;
  height: 300px;
}

.releases-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding-top: 50px;
}

.releases-header {
  text-align: center;
  font-family: 'Courier Prime';
  color: #5c9ea0;
  font-size: 30px;
  margin-bottom: 20px;
}

.platform-logo {
  width: 200px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 5px;
}

.music-platforms {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* padding-top: 50px; */
  flex-wrap: wrap;
}

.band-instruments {
  /* padding-bottom: 20px; */
}

.track-name {
  font-family: 'Linotype Cutter';
  /* font-size: 80%; */
}

.track-cover {
  width: 150px;
  padding-top: 30px;
}

.track-logo {
  width: 150px;
  display: block;
  margin: 0 auto;
  padding-bottom: 10px;
}

.track-platforms {
  /* width: 75%; */
  /* width: 200px; */
  padding-bottom: 20px;
  /* display: inline; */
}

a {
  color: #fcfbf6;
  text-decoration: none;
}

.shows-subtitle {
  font-family: 'Courier Prime';
  color: #fcfbf6;
  font-style: italic;
  text-align: center;
  padding-bottom: 10px;
}

.recents-video {
  width: 100%;
  margin: 0 auto;
  display: block;
  padding-bottom: 50px;
}

.selected-photo {
  height: 500px;
  display: block;
  margin: 0 auto;
}

.selected-title {
  color: black;
  text-align: center;
  font-family: 'Courier Prime';
  font-style: italic;
  font-size: 25px;
}

.photo-gallery {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
}

.band-blurb {
  font-family: 'Courier Prime';
  color: white;
  padding-bottom: 20px;
  /* font-size: 1.6vh; */
}

.blurb-div {
  /* margin-left: 200px; */
  /* margin-right: 200px; */
  /* padding-top: 50px; */
  /* padding-bottom: 50px; */
  text-align: center;
}

.band-div {
  display: flex;
  color: white;
  font-family: 'Courier Prime';
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  /* margin-top: 30px; */
  background-color: rgba(68, 78, 90, 0.6);
  padding: 50px;
  /* margin-bottom: 50px; */
}

.member-pic {
  height: 200px;
  width: 160px;
  display: block;
  margin: 0 auto;
}

.band-title {
  font-family: 'Courier Prime';
  color: #5c9ea0;
  text-align: center;
}

h4,
h5 {
  text-align: center;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 20px;
}
.grid-item {
  padding: 5px;
  text-align: center;
}

.band-info {
  margin-top: 30px;
  justify-content: space-between;
}

.photo-albums {
  height: 300px;
  display: block;
  margin: 0 auto;
}

.carousel-cover {
  height: 300px;
  padding-top: 30px;
  /* margin-left: -100px; */
  /* width: 300px; */
}

.carousel-item {
  width: 90%;
  /* height: 300px; */
  display: block;
  margin: 0 auto;
}

.carousel-title {
  color:#fcfbf6;
  padding: 5;
}

.photo-title {
  font-family: "Courier Prime";
  text-align: center;
  font-size: 2vh;
}

.carousel-image {
  height: 500px;
  display: block;
  margin: 0 auto;
}

.carousel-vids {
  height: 100%;
  margin-bottom: 100px;
}

.gallery-header {
  text-align: center;
  font-family: 'Courier Prime';
  color: #5c9ea0;
  font-size: 40px;
}

.carousel-title {
  font-family: 'Courier Prime';
  text-align: center;
}

.album-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.album-title {
  font-family: 'Courier Prime';
  color: white;
  text-align: center;
  padding: 20px;
}

.contact-form {
  background-color: rgba(68, 78, 90, 0.7);
  border-radius: 30px;
  padding: 50px;
}

.socials-div {
  padding: 30px 5px 5px 5px;
  color: white;
  font-family: 'Courier Prime';
  text-align: center;
}

.contact-header {
  font-family: 'Courier Prime';
  text-align: center;
  color: #fcfbf6;
  padding-bottom: 10px;
}

.footer {
  padding: 80px;
  background-color: #fcfbf6;
  color: #fcfbf6;
}
