@font-face {
  font-family: 'NexaSlab';
  src: local('NexaSlab'), url(./assets/fonts/NexaSlab.otf) format('opentype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: 'Zuba';
  src: local('Zuba'), url(./assets/fonts/Zubajda.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

.pesky-logo {
  height: 100px;
  padding-top: 20px;
  padding-right: 20px;
}

.pesky-drawer {
  height: 100px;
}

.nav-heading {
  font-family: "Zuba";
  font-size: 45px;
}
