@font-face {
  font-family: 'NexaSlab';
  src: local('NexaSlab'), url(./assets/fonts/NexaSlab.otf) format('opentype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: 'Zuba';
  src: local('Zuba'), url(./assets/fonts/Zubajda\ Dt.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

.app-body {
  background-image: url(./assets/images/background.png);
  background-size: cover;
  /* height: 100vh; */
}

.container {
  padding: 50px;
}

.pesky-logo {
  height: 100px;
  padding-top: 20px;
  padding-right: 20px;
}

.pesky-drawer {
  height: 100px;
  display: block;
  margin: 0 auto;
}

.nav-heading {
  font-family: "Zuba";
  font-size: 45px;
}

.intro-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.player-div {
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center; 
}

.spotify-player {
  height: 550px;
  width: 400px;
  /* padding-top: 100px; */
  /* height: 500px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center; */
}

.header {
  font-family: "Zuba";
  color: #5C9EA0;
  font-size: 100px;
  text-align: center;
}

.record-name {
  font-family: "NexaSlab";
  color: #FCFBF6;
}

.music-cover {
  height: 200px;
}

.releases-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.releases-header {
  text-align: center;
  font-family: "NexaSlab";
  color:#5C9EA0;
  font-size: 40px;
  padding-bottom: 10px;
}

.footer {
  background-color: black;
  color: white;
}
